<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="createcard.css">
  </head>
  <body>
    <h1>Create your DevCard</h1>
    <form action="/" method="post">
      <ul>
       <li>
         <input type="text" id="name" name="name" placeholder="Your Full Name">
       </li>
       <li>
         <textarea id="about" name="about" placeholder="About Me"></textarea>
       </li>
       <li>
         <input type="text" id="git_hub" name="git_hub" placeholder="Github URL">
       </li>
       <li>
         <input type="text" id="twitter" name="twitter" placeholder="Twitter URL">
       </li>
       <li>
         <input type="text" id="books" name="books" placeholder="Favorite Books (Separate by comma)">
       </li>
       <li>
         <input type="text" id="artists" name="artists" placeholder="Favorite Artists (Separate by comma)">
       </li>
       <li class="button">
        <button type="submit">Create Site</button>
      </li>
      </ul>
     </form>
     
  </body>
</html>
